VITE_API_BASE=https://your-render-backend.onrender.com/api
VITE_SOCKET_URL=https://your-render-backend.onrender.com
VITE_ESRI_MAP_VIEWER_URL=https://esrirw.rw/portal/apps/mapviewer/index.html?webmap=3e190cfba7fd4d1f8c9600cc072a6d15
VITE_ESRI_MAP_NAVIGATION_MINIMAL=true
