EXPO_PUBLIC_STRICT_API_BASE=1
EXPO_PUBLIC_API_BASE=https://your-render-backend.onrender.com/api
EXPO_PUBLIC_MAP_PROVIDER=esri
EXPO_PUBLIC_ESRI_MAP_URL=https://esrirw.rw/portal/apps/mapviewer/index.html?webmap=3e190cfba7fd4d1f8c9600cc072a6d15
EXPO_PUBLIC_ARCGIS_PORTAL_APP_ID=
EXPO_PUBLIC_ESRI_MAP_NAVIGATION_MINIMAL=true
